ul.search-results img {
  margin: 0 auto;
}

table {
  /* background-color: rgb(190, 190, 190); */
  min-width: 80%;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
}



th   {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* background-color: lightcoral; */
}

.carrot {
  width: 10px;
  height: auto;
}